div {
	border: 1px solid red;
}

notification {
	font-weight: bold;
}

notification[value='server-revealer-notification-production'] {
    background-color: #ff6565;
}

notification[value='server-revealer-notification-acceptance'] {
    background-color: #ffbb5a;
}
notification[value='server-revealer-notification-testing'] {
	background-color: yellow;
}


notification[value='server-revealer-notification-development'] {
	background-color: lightgreen;
	color: black;
}

